@alert-primary-background: @ccf-light-indigo;
@alert-primary-color: @ccf-darker-violet;
@alert-success-background: @ccf-light-mint;
@alert-success-color: @ccf-ready;
@alert-warning-background: #fff3c4;
@alert-warning-color: @ccf-warning;
@alert-danger-background: @ccf-danger-soft;
@alert-danger-color: @ccf-darker-red;
