@offcanvas-bar-background: @ccf-indigo;
@offcanvas-bar-color-mode: light;

.hook-offcanvas-bar() {
  color: @ccf-creme;

  .main-nav { margin-top: 1rem; }
  .uk-text-meta { color: @ccf-gray; }

  .theme-switcher-group > button {
    background: transparent;
    color: @ccf-gray;
    border-color: @ccf-violet;
  }

  .theme-switcher-group > button.uk-active {
    background: @ccf-darker-violet;
    color: @ccf-creme;
  }
}
