<progress class="uk-progress" value="62" max="100"></progress>

<div class="uk-flex uk-flex-middle uk-flex-wrap uk-margin harika-control-cluster">
  <span data-uk-spinner="ratio: .8" aria-label="Lädt"></span>
  <button class="uk-button uk-button-default" type="button" data-uk-toggle="target: #styleguide-modal">Modal öffnen</button>
</div>

<div id="styleguide-modal" class="uk-modal" data-uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" data-uk-close aria-label="Schließen"></button>
    <div class="uk-modal-header"><h3 class="uk-modal-title">UIkit Modal</h3></div>
    <div class="uk-modal-body"><p>Interaktive Komponenten bleiben native UIkit-Komponenten.</p></div>
    <div class="uk-modal-footer uk-flex uk-flex-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Schließen</button>
    </div>
  </div>
</div>
