<div class="uk-grid-small styleguide-grid-demo" data-uk-grid>
  <div class="uk-width-1-1"><div>1 / 1</div></div>
  <div class="uk-width-1-2@s"><div>1 / 2</div></div>
  <div class="uk-width-1-2@s"><div>1 / 2</div></div>
  <div class="uk-width-1-3@m"><div>1 / 3</div></div>
  <div class="uk-width-1-3@m"><div>1 / 3</div></div>
  <div class="uk-width-1-3@m"><div>1 / 3</div></div>
</div>

<div class="uk-flex uk-flex-between uk-flex-middle uk-margin-medium-top styleguide-flex-demo">
  <span>Start</span>
  <span>Mitte</span>
  <span>Ende</span>
</div>
