@ccf-light-gray: #f6f6f6;
@ccf-gray: #c4c5cc;
@ccf-darker-gray: #7b7b80;
@ccf-creme: #fff9ee;
@ccf-sunny: #ffe343;
@ccf-yellow: #f9ba00;
@ccf-darker-yellow: #f8a301;
@ccf-light-mint: #edfbf6;
@ccf-mint: #32d296;
@ccf-light-indigo: #e8daff;
@ccf-indigo: #20123a;
@ccf-light-violet: #e0c2d1;
@ccf-violet: #622064;
@ccf-darker-violet: #330033;
@ccf-red: #c1272d;
@ccf-darker-red: #820033;
@ccf-ice: #00ffff;
@ccf-magenta: #ff0066;

@ccf-muted: #625d6b;
@ccf-ready: #176044;
@ccf-warning: #684900;
@ccf-danger-soft: #f8e2e4;

@global-font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
@global-color: @ccf-indigo;
@global-emphasis-color: @ccf-indigo;
@global-muted-color: @ccf-muted;
@global-link-color: @ccf-darker-violet;
@global-link-hover-color: @ccf-violet;
@global-background: @ccf-light-gray;
@global-muted-background: @ccf-creme;
@global-primary-background: @ccf-indigo;
@global-secondary-background: @ccf-violet;
@global-success-background: @ccf-ready;
@global-warning-background: @ccf-warning;
@global-danger-background: @ccf-darker-red;
@global-border: @ccf-gray;
@global-inverse-color: @ccf-creme;
