@base-body-background: @ccf-light-gray;
@base-body-color: @ccf-indigo;
@base-heading-font-family: Georgia, "Times New Roman", serif;
@base-heading-font-weight: 400;
@base-heading-color: @ccf-indigo;
@base-focus-outline: @ccf-violet;
@base-link-color: @ccf-darker-violet;
@base-link-hover-color: @ccf-violet;
