@button-line-height: @global-control-height - (@button-border-width * 2);
@button-small-line-height: @global-control-small-height - (@button-border-width * 2);
@button-large-line-height: @global-control-large-height - (@button-border-width * 2);
@button-border-width: 1px;
@button-default-background: transparent;
@button-default-border: @ccf-gray;
@button-default-hover-border: @ccf-darker-gray;
@button-default-active-border: @ccf-indigo;
@button-primary-background: @ccf-indigo;
@button-primary-color: #fff;
@button-primary-hover-background: @ccf-darker-violet;
@button-primary-hover-color: #fff;
@button-primary-active-background: @ccf-violet;
@button-primary-active-color: #fff;
@button-danger-background: @ccf-darker-red;
@button-danger-color: #fff;
@button-danger-hover-background: #680029;
@button-danger-hover-color: #fff;
@button-danger-active-background: #570022;
@button-danger-active-color: #fff;
@button-text-color: @ccf-darker-violet;
@button-text-hover-color: @ccf-violet;
@button-text-transform: uppercase;

.hook-button() { text-transform: @button-text-transform; }
.hook-button-default() { border: @button-border-width solid @button-default-border; }
.hook-button-default-hover() { border-color: @button-default-hover-border; }
.hook-button-default-active() { border-color: @button-default-active-border; }
.hook-button-primary() { border: @button-border-width solid transparent; }
.hook-button-danger() { border: @button-border-width solid transparent; }
