@label-background: @ccf-violet;
@label-color: @ccf-creme;
@label-success-background: @ccf-ready;
@label-success-color: @ccf-creme;
@label-warning-background: @ccf-warning;
@label-warning-color: @ccf-creme;
@label-danger-background: @ccf-darker-red;
@label-danger-color: @ccf-creme;
@label-border-radius: 2px;
@label-text-transform: uppercase;

.hook-label() {
  border-radius: @label-border-radius;
  text-transform: @label-text-transform;
}
